---
layout: default
bodyClass: "page-pizza-menu"
---

{% assign content_parts = content | split: "<!--split-->" %}

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      {% if page.intro_image %}
      <div class="col-12 col-md-3 col-lg-3 order-2 order-md-1 position-relative">
        <br>
        <br>
        <br>
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
      <div class="col-12 col-md-9 col-lg-9 order-1 order-md-2">
        {{ content_parts[0] }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-12 order-3 order-md-3 text-center">
        <div class="highlight-box">
          {{ content_parts[1] }}
        </div>
      </div>
    </div>
  </div>
</div>